.dashboard{
  
  background-image: url(/images/filip-bunkens-MfA21vhkVLg-unsplash.jpg);
  background-size:cover;
  height:750px;
  width:100%;
  position: relative;
 
}
.dashboard::before{
	background-color:rgba(44, 32, 32, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.dashboard-card{
    position: relative;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }
