.login{
  
  background-image: url('/images/nathan-dumlao-ewGMqs2tmJI-unsplash2.jpg');
  background-size:cover;
  height: 750px;
  position: relative;
}
.login::before{
	background-color: rgba(44, 32, 32, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.login-card{
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}





